{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenu sur la page admin! ✅</h1>
    <div class="container text-center">
        <div class="row ">
            <div class="col-2">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active text-start" aria-current="page" href="{{ path('app_admin_courses') }}">Les cours</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-start" href="#">Les commentaires</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-start" href="#">Les users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-start" href="#">Les news</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-start">Les users bloqués</a>
                    </li>
                </ul>
            </div>
            <div class="col">
                <div class="card fifty">
                    <img src="{{ asset('images/avatar/' ~ user.image)  }}" class="card-img-top fifty" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Admin</h5>
                        <p class="card-text">Connécté en tant qu'administrateur sur le site.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-start">Nom : {{ user.lastName }}</li>
                        <li class="list-group-item text-start">Prénom : {{ user.name }}</li>
                        <li class="list-group-item text-start">Email : {{ user.email }}</li>
                        <li class="list-group-item text-start">Dernière mise à jour du profil: {{ user.updatedAt|date('d/m/Y') }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
