{% extends 'base.html.twig' %}

{% block title %}Liste de cours{% endblock %}

{% block body %}
    <main class="container">
        <section id="posts">
            <div class="row">
                <div class="col-md-12">

                    <h1 class="display-6">Tous nos cours</h1>
                    {# Cards #}
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        {% for course in courses %}
                            <div class="col">
                                <div class="card h-100">
                                    <h4 class="card-header">{{ course.name|capitalize }}</h4>
                                    <img src="{{ asset('images/posts/' ~ course.image) }}" class="card-img-top" alt="{{ course.name }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ course.category.name }}</h5>
                                        <p class="card-text">{{ course.description }}</p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{{ course.createdAt|date('d/m/Y') }}</li>
                                        <li class="list-group-item">
                                            <a href="{{ path('app_course', {id: course.id}) }}" class="btn btn-outline-dark">Lire la suite</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                        <a href="{{ path('app_admin_newcourse') }}" class="btn btn-outline-dark">Nouveau cours</a>
                    </div>
                    {# /Cards #}

                </div>
            </div>
        </section>
    </main>
{% endblock %}

